/* Navbar */

.navbar {
  font-weight: 400;
  transition:background $action-transition-duration $action-transition-timing-function;
  -webkit-transition:background $action-transition-duration $action-transition-timing-function;
  -moz-transition:background $action-transition-duration $action-transition-timing-function;
  -ms-transition:background $action-transition-duration $action-transition-timing-function;

  .navbar-brand-wrapper {
    background: $navbar-brand-wrapper-bg;
    padding: 0 1.874rem;
    @media (max-width: 991px) { 
      padding: 0 1rem;
    }
    transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    width: $sidebar-width-lg;
    height: $navbar-height;
    .navbar-brand {
      color: lighten(color(gray-dark), 20%);
      font-size: 1.5rem;
      margin-right: 0;
      padding: .25rem 0;
      
      &.brand-logo-mini {
        display: none;
      }

      &:active,
      &:focus,
      &:hover {
        color: lighten(color(gray-dark), 10%);
      }

      img {
        width: calc(#{$sidebar-width-lg} - 130px );
        max-width: 100%;
        height: 34px;
        margin: auto;
        vertical-align: middle;
      }
    }

    .brand-logo-mini {
      padding-left: 0;
      text-align: center;
      img {
        width: calc(#{$sidebar-width-icon} - 30px );
        max-width: 100%;
        margin: auto;
      }
    }
    .notification {
      position: relative;
      .indicator {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        position: absolute;
        top: -2px;
        right: -2px;
        background: theme-color(danger);
      }
      @media (max-width: 991px) { 
        display: none;
      }
    }
  }

  .navbar-menu-wrapper {
    background: $navbar-default-bg;
    transition: width $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function;
    color: $navbar-menu-color;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: calc(100% - #{$sidebar-width-lg});
    height: $navbar-height;
    -webkit-box-shadow: $navbar-box-shadow;
    -moz-box-shadow: $navbar-box-shadow;
    box-shadow: $navbar-box-shadow;
    @media (max-width: 991px) {
      width: calc(100% - 55px);
      padding-left: 15px;
      padding-right: 15px;
    }

    .navbar-toggler {
      border: 0;
      color: inherit;
      font-size: 1.5rem;
      padding: 0;
      background: $navbar-btn-bg;
      padding: .875rem .875rem;
      font-size: $default-font-size;
      margin-right: 1.625rem;
      &:not(.navbar-toggler-right) {
        @media (max-width: 991px) {
          display: none;
        }
      }
      &.navbar-toggler-right{
        @media (max-width:991px){
          padding-left: 15px;
          padding-right: 11px;
          margin-right: 0;
        }
      }
    }

    .navbar-nav {
      @extend .d-flex;
      @extend .flex-row;
      @extend .align-items-center;
      .nav-item {
        margin-left: .5rem;
        margin-right: .5rem;
        &:last-child {
          margin-right: 0;
        }
        .nav-link {
          color: inherit;
          font-size: $navbar-font-size;
          cursor: pointer;
          i {
            font-size: $navbar-icon-font-size;
          }
        }
        &.nav-settings {
          @extend .align-self-stretch;
          @extend .align-items-center;
          border-left: 1px solid rgba($white, .24);
          margin: 0;
          padding-left: 1.5rem;

          .nav-link {
            padding: 0;
            text-align: center;
          }
          i {
            font-size: 1.5rem;
            vertical-align: middle;
          }
        }
        &.nav-profile {
          @extend .d-flex;
          @extend .align-items-center;
          img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
          }
          .nav-profile-name {
            margin-left: .5rem;
            color: $white;
            @media (max-width: 767px) {
              display: none;
            }
          }
          .user-icon {
            background: $navbar-btn-bg;
            padding: 10px 14px;
            color: $white;
            font-size: 1rem;
            border-radius: 4px;
            margin-left: 1.25rem;
          }
        }
        &.dropdown {
          .dropdown-menu {
            @extend .dropdownAnimation;        
            border: none;
            -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.1);
          }
          .navbar-dropdown {
            position: absolute;            
            font-size: 0.9rem;
            margin-top: 0;
            right: 0;
            left: auto;
            top: $navbar-height;
            border-radius: .25rem; 
            .rtl & {
              right: auto;
              left: 0;
            }

            .dropdown-item {
              @extend .d-flex;
              @extend .align-items-center;
              margin-bottom: 0;
              padding: .75rem 1.5rem;
              cursor: pointer;

              i {
                font-size: 17px;
              }

              .badge {
                margin-left: 2.5rem;
              }
              .ellipsis {
                max-width: 200px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .rtl & {
                i {
                  @extend .mr-0;
                  margin-left: 10px;
                }
                .badge {
                  margin-left: 0;
                  margin-right: 2.5rem;
                }
              }
              &.preview-item {
                border-bottom: 1px solid $border-color;
                .preview-thumbnail {
                  width: 40px;
                  height: 40px;
                  text-align: center;
                  margin-right: 10px;
                  color: theme-color(dark);
                  border-radius: 100%;
                  padding-top: 4px;
                  i {
                    margin-right: 0;
                  }
                }
                &:last-child {
                  border-bottom: none;
                }
              }
            }

            .dropdown-divider {
              margin: 0;
            }
            &.user-profile-action {
              min-width: 225px;
            }
          }
          i {
            margin-right: .5rem;
            vertical-align: middle;
          }
          @media (max-width: 991px) {
            position: static;
            .navbar-dropdown {
              left: 20px;
              right: 20px;
              top: $navbar-height;
              width: calc(100% - 40px);
            }
          }
          &.nav-dropdown {
            margin-left: 0;
            .dropdown-toggle {
              background: $navbar-btn-bg;
            }
          }
          .count-indicator {
            position: relative;
            padding: 0;
            text-align: center;
            i {
              font-size: 1.25rem;
              margin-right: 0;
              vertical-align: middle;
            }
            .count {
              position: absolute;
              left: 35%;
              width: 6px;
              height: 6px;
              border-radius: 100%;
              background: theme-color(danger);
              top: -2px;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &.navbar-nav-right {
        @extend .align-self-stretch;
        @extend .align-items-stretch;
        @media (max-width: 991px) {
          margin-right: 1rem;
          margin-left: auto;
        }
        .nav-item {
          @extend .d-flex;
          @extend .align-items-center;
        }
        @media (min-width: 992px) {
          .rtl & {
            margin-left: 0;
            margin-right: auto;
          }
        }
      }
    }
    .navbar-social-link {
      .navbar-mail-btn {
        background: transparent;
        column-rule: $white;
        border: 1px solid $navbar-btn-border;
        &:hover {
          color: $white;
        }
      }
    }
  }

  /* Navbar color variations */
  @each $color, $value in $theme-colors {
    &.navbar-#{$color} {
      .navbar-menu-wrapper {
        background: $value;
      }
      &:not(.navbar-light) {
        .navbar-menu-wrapper {
          .navbar-toggler {
            color: $white;
          }
          .nav-item {
            .nav-link {
              color: $white;
            }
          }
        }
      }
    }
    &.navbar-light {
      .navbar-menu-wrapper {
        background: $white;
        .navbar-toggler {
          color: theme-color(dark);
        }
        .nav-item {
          .nav-link {
            color: theme-color(dark);
          }
        }
      }
    }
    &.navbar-danger {
      .navbar-menu-wrapper {
        .nav-item {
          .nav-link {
            &.count-indicator {
              .count {
                background: theme-color(primary);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:991px) {
  .navbar {
    flex-direction: row;
    .navbar-brand-wrapper {
      width: 55px;
      .navbar-brand {
        &.brand-logo {
          display: none;
        }
        &.brand-logo-mini {
          display: inline-block;
        }
      }
    }
  }

  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}

@media (max-width:480px) {
  .navbar {
    .navbar-brand-wrapper {
      width: 55px;
      .brand-logo-mini{
        padding-top: 0px;
      }
    }
  }
}